.ant-card-body {
    padding-top: 5px !important;
}

.Card-main-cont{
    display: flex;
    flex-direction: row;
    gap:10px

}

.Custom_Card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
  }
  
  .card-container {
    flex: 0 0 calc(33.33% - 20px); 
  }
  
  .card-container:nth-child(3n + 1) {
    margin-left: 0;
  }
  
  
  
  
  
  